@charset "UTF-8";
.body-main {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #eee;
}

.main-user-content{
	width: 300px;
    height: 400px;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	top: 50%;
	margin-top: -150px;
	background: white;
}

.user-content{
	padding: 15px 15px 12px;
}

.user-img{	
	width: 120px;
    height: 120px;
    border-radius: 120px;
	display: block;
    margin: 0px auto;
}

.user-content label{	
 	position: relative;
    top: -1.5px;
	font-size: 13px;
}

.user-content input{	
	margin: 5px;
    width: 180px;
    height: 17px;
}

.userinfo-btn button{
	float: right;
	background: skyblue;
	border-radius: 5px;
	padding: 5px;
	color: white;
}

.userinfo-btn{
	padding-right: 30px;
}





