@charset "UTF-8";

.main-contant-img {
	float: left;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 20px;
}

.main-footer-view {
	border-top: 1px solid black;
}

.view-list-content {
	display: inline-flex;
}

.view-list-content span {
	padding: 25px;
}

.view-list-content h2 {
	padding-left: 50px;
}

button{
	margin: 50px;
}